<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TXTSTAR</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="header">
        <div class="header-inner">
          <h1 class="logo"><a href="/">Texstuff</a></h1>
        </div>
    </div>

    <div id="input-output-wrap">
        <!-- Side bar thing -->
        <div class="input-content">
            <div class="input-form">
              <h1>Select .txt files: </h1>
            </div>

            <div class="input-form">
              <!-- file submit -->
              <form enctype="multipart/form-data" action="/" method="post">
                <input type="file" name="files" multiple>
                <button type="submit" class="btn btn-success">Submit File</button>
              </form>
            </div>

            <div class="file-results">
              <h2 class="display-text">Uploaded files...</h2>
              <% fileArray.forEach(function(file){ %>
                <h3 class="display-text"> <%- file %> <input id="<%- file %>" type="checkbox"></h3>
              <% }); %>
            </div>
        </div>

        <!-- Output content area -->
        <div id="output-wrap">
            <div class="output">
                <!-- show time info -->
                <% timeData.forEach(function(info, i){ %>
                    <p>name: </p>
                    <h3 class="display-text"> <%- info %> </h3>
                <% }); %>
                <!-- show top ten common words -->
                <h2>10 most common words</h2>
                <% cleanArray.forEach(function(word, i){ %>
                    <% if (i<10){ %>
                      <h3 class="display-text"> <%- word %> </h3>
                    <% } %>
                <% }); %>
            </div>
        </div>

    </div>

    <script>

    </script>
  </body>
</html>








































<!-- hi -->
