<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <!-- file submit -->
    <form enctype="multipart/form-data" action="/" method="post" class="input-form">
      <input type="file" name="files" multiple>
      <button type="submit" class="btn btn-success">Submit File</button>
    </form>

    <% files.forEach(function(file){ %>
      <h1>  <%- file.buffer %> </h1>
    <% }); %>

    <script>
      var filesArray;

    </script>
  </body>
</html>








































<!-- hi -->
