<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TXTSTAR</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <!-- file submit -->
    <div class="input-form">
      <form enctype="multipart/form-data" action="/" method="post">
        <input type="file" name="files" multiple>
        <button type="submit" class="btn btn-success">Submit File</button>
      </form>
    </div>

    <h1>Uploaded files...</h1>
    <% fileArray.forEach(function(file){ %>
      <h2> <%- file %> </h2>
    <% }); %>

    <script>

    </script>
  </body>
</html>








































<!-- hi -->
