<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TXTSTAR</title>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <div class="header">
      <div class="header-inner">
        <h1 class="content">Texstuff</h1>
      </div>
    </div>
    <div class="content">
      <div class="input-form">
        <h1>Select .txt files: </h1>
      </div>

      <div class="input-form">
        <!-- file submit -->
        <form enctype="multipart/form-data" action="/" method="post">
          <input type="file" name="files" multiple>
          <button type="submit" class="btn btn-success">Submit File</button>
        </form>
      </div>

      <div class="file-results">
        <h2 class="display-text">Uploaded files...</h2>
        <% fileArray.forEach(function(file){ %>
          <h3 class="display-text"> <%- file %> <input id="<%- file %>" type="checkbox"</h3>
        <% }); %>
      </div>
    </div>


    <script>

    </script>
  </body>
</html>








































<!-- hi -->
