<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <form>
      <input type="file" id="files" name="files[]" multiple>
      <output id="list"></output>

    </form>

    <script>
      document.getElementById("files").addEventListener("change", handleFileSelect, false);

      function handleFileSelect(event){
        var files = event.target.files;
        console.log(files);
      }
    </script>
  </body>
</html>








































<!-- hi -->
