body {
  margin: 0;
  padding: 0;
  background-color: #cadcf9; }

/*Start header*/
.header {
  background-color: cornflowerblue;
  width: 100%;
  height: 80px;
  overflow: auto;
  }

.header-inner {
  position: relative;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  /*border: solid red 1px;*/
  }

  .logo {
    text-align: center;
  }
/*End header*/

/*Begin content*/
.input-content {
  position: relative;
  /* margin-top: -1.5%;
  top: 10%; */
  border-right: solid white 3px;
  border-bottom: solid white 3px;
  text-align: center;
  width: 30%;
  height: 100%;
  background-color: rgba(217, 246, 247, .4);
  border: solid red 1px;
  float: left;
  }

.input-form {
  text-align: center;
  margin-bottom: 5%;
  }
  .input-form h1 {
    color: black;
  }

.file-results {
  width: 70%;
  margin: 0 auto;
  background-color: lightblue;
  padding: 2%;
  }

.display-text {
  background-color: lightblue;
  }

#output-wrap {
  border: solid black 3px;
  float: left;
  width: 65%;
}

.output {
  border: solid black 1px;
  width: 55%;
  margin-left: 30%;
}

#input-output-wrap {
  /* background-color: green; */
  border: solid blue 5px;
  height: 100vh;
}

/*End content*/
